<template>
  <v-container>
    <v-row align="start" justify="center">
      <v-col cols="6">
        <h1>List Article</h1>
      </v-col>
      <v-col cols="6" align-self="center" class="text-right">
        <v-btn to="/my/article/add" nuxt color="success" class="mr-4">Add</v-btn>
      </v-col>
    </v-row>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="loadHost"
      :items-per-page="10"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:item.file="data">
        <v-img max-height="42" max-width="42" :src="data.value|image('tr=h-42,w-42')"></v-img>
      </template>
      <template v-slot:item.description="data">{{data.value|shorttext}}</template>
      <template v-slot:item.price1="data">{{data.value|numberPrice}}</template>
      <template v-slot:item.price2="data">{{data.value|numberPrice}}</template>
      <template v-slot:item.price3="data">{{data.value|numberPrice}}</template>
      <template v-slot:item.id="data">
        <v-btn :to="`/my/article/edit/${data.value}`" nuxt color="info" class="mr-4">
          <v-icon x-small>mdi-pencil</v-icon>
          <span>แก้ไข</span>
        </v-btn>

        <v-btn @click="showDialog(data.item)" color="error" class="mr-4">
          <v-icon x-small>mdi-delete</v-icon>
          <span>ลบ</span>
        </v-btn>
      </template>
    </v-data-table>

    <v-dialog v-model="dialog.show" width="500">
      <v-card>
        <v-card-title class="headline lighten-2">ยืนยันลบข้อมูล</v-card-title>

        <v-card-text>ยืนยันลบ แพ็กเก็ต {{dialog.data.name}} หรือไม่</v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="remove" text>ยืนยันลบ</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
export default {
  layout: 'my',
  computed: {
    loadHost() {
      return this.$store.getters.allstate.article
    },
  },
  methods: {
    showDialog(data) {
      this.dialog = {
        data: data,
        show: true,
      }
    },
    async remove() {
      const db = this.$fireDb.ref('article/' + this.dialog.data.id)
      await db.remove()
      this.$store.dispatch('removearticle', this.dialog.data.id)
      this.dialog = {
        data: false,
        show: false,
      }
    },
  },
  data() {
    return {
      isActive: false,
      dialog: {
        show: false,
        data: '',
      },
      search: '',
      headers: [
        { text: 'Cover', value: 'file' },
        { text: 'Name', value: 'name' },
        { text: 'Description', value: 'description' },
        { text: 'Actions', value: 'id', sortable: false },
      ],
    }
  },
}
</script>