<template>
  <v-app dark>
    <v-app-bar fixed app>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn v-for="(item,i) in menu" :key="`menu_${i}`" class="ma-2" dark :to="item.link" nuxt>
        <v-icon left>{{item.icon}}</v-icon>
        {{item.title}}
      </v-btn>
      <v-spacer />
      <v-btn
        v-for="(item,i) in menuR"
        :key="`menuR_${i}`"
        class="ma-2"
        dark
        :to="(item.link) ? item.link :null"
        nuxt
        v-show="islogin == item.islogin"
        @click="item.function"
      >
        <v-icon left>{{item.icon}}</v-icon>
        {{item.title}}
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="8">
            <nuxt />
          </v-col>
          <v-col cols="6" md="4">
            <v-card class="pa-2" outlined tile>.col-6 .col-md-4</v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<style lang="scss" scoped>
.container {
  width: 1140px;
}
</style>

<script>
export default {
  data() {
    return {
      overlay: false,
      title: 'App',
      menu: [
        { title: 'หน้าแรก', link: '/', icon: 'mdi-home' },
        { title: 'หน้าแรก', link: '/', icon: 'mdi-home' },
        { title: 'หน้าแรก', link: '/', icon: 'mdi-home' },
        { title: 'หน้าแรก', link: '/', icon: 'mdi-home' },
        { title: 'หน้าแรก', link: '/', icon: 'mdi-home' },
        { title: 'หน้าแรก', link: '/', icon: 'mdi-home' },
      ],
      menuR: [
        {
          title: 'สมัคร',
          link: '/signup',
          icon: 'mdi-account-plus',
          islogin: false,
          function: () => {
            return false
          },
        },
        {
          title: 'เข้าระบบ',
          link: '/signin',
          icon: 'mdi-account-key',
          islogin: false,
          function: () => {
            return false
          },
        },
        {
          icon: 'mdi-account-circle',
          title: 'บัญชีของฉัน',
          link: '/my',
          islogin: true,
          function: () => {
            return false
          },
        },
        {
          icon: 'mdi-account-arrow-right',
          title: 'ออกจากระบบ',
          link: false,
          function: () => {
            this.logout()
          },
          islogin: true,
        },
      ],
    }
  },
  computed: {
    islogin() {
      return this.$store.getters.isLogin
    },
  },
  methods: {
    async logout() {
      this.overlay = true
      try {
        await this.$fireAuth.signOut()
        this.overlay = false
        this.$store.dispatch('setLogin', false)
        this.$router.push('/')
      } catch (e) {
        alert(e)
      }
    },
  },
}
</script>
