<template>
  <div>
    <v-app dark>
      <client-only placeholder="Loading...">
        <div v-if="$store.state.isLogin">
          <v-navigation-drawer v-model="drawer" clipped fixed app class="bg-glod">
            <v-list>
              <v-subheader>User Menu</v-subheader>
              <v-list-item
                v-for="(item, i) in items"
                :key="i"
                :to="item.to"
                :disabled="item.disable"
                router
                exact
                @click="title = item.title"
              >
                <v-list-item-action>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title v-text="item.title" />
                </v-list-item-content>
              </v-list-item>
              <v-list-item router exact @click="logout()">
                <v-list-item-action>
                  <v-icon>mdi-account-arrow-right</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title v-text="`ออกจากระบบ`" />
                </v-list-item-content>
              </v-list-item>
              <div v-if="$store.state.userdata == 'cvLwPTuwkfVBzVhzEjCtp0m4t5H3'" class="py-5">
                <v-subheader>Admin Menu</v-subheader>
                <v-list-item
                  v-for="(item, i) in itemsadmin"
                  :key="'admin_'+i"
                  :to="item.to"
                  router
                  exact
                  @click="title = item.title"
                >
                  <v-list-item-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title v-text="item.title" />
                  </v-list-item-content>
                </v-list-item>
              </div>
            </v-list>
          </v-navigation-drawer>
          <v-app-bar fixed app :clipped-left="true">
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            <v-toolbar-title>{{title}}</v-toolbar-title>
            <v-spacer />
          </v-app-bar>
          <v-main>
            <v-container>
              <nuxt />
            </v-container>
          </v-main>
          <v-footer app>
            <span>&copy; {{ new Date().getFullYear() }}</span>
          </v-footer>
        </div>
        <div dark v-else>
          <v-row align="center" justify="center">
            <v-col cols="3">
              <v-row align="start" justify="center">
                <h1>กรุณาเข้าสู่ระบบก่อนใช้งาน</h1>
              </v-row>
              <nuxt-link to="/" @click="title = 'Home'" class="logo-nav-128">
                <Logo w="256" h="256" />
              </nuxt-link>
              <v-row align="start" justify="space-around">
                <v-btn dark to="/signin" nuxt>
                  <v-icon left>mdi-account-arrow-left</v-icon>
                  <span>เข้าสู่ระบบ</span>
                </v-btn>
                <v-btn dark to="/signup" nuxt>
                  <v-icon left>mdi-account-plus</v-icon>
                  <span>สมัครบัญชี</span>
                </v-btn>
              </v-row>
            </v-col>
          </v-row>
        </div>
      </client-only>
    </v-app>

    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
export default {
  components: {
    Logo,
  },
  data() {
    return {
      overlay: false,
      drawer: true,
      items: [
        {
          icon: 'mdi-server',
          title: 'เมนู',
          to: '/my',
          disable: false,
        },
        {
          icon: 'mdi-server-minus',
          title: 'เมนู',
          to: '/my',
          disable: false,
        },
        {
          icon: 'mdi-lock',
          title: 'เมนู',
          to: '/my',
          disable: false,
        },
        {
          icon: 'mdi-account-group',
          title: 'เมนู',
          to: '/my',
          disable: false,
        },
      ],
      itemsadmin: [
        {
          icon: 'mdi-file',
          title: 'เมนู',
          to: '/my',
        },
        {
          icon: 'mdi-lifebuoy',
          title: 'เมนู',
          to: '/my',
        },
        {
          icon: 'mdi-account-circle',
          title: 'เมนู',
          to: '/my',
        },
        {
          icon: 'mdi-account-circle',
          title: 'เมนู',
          to: '/my',
        },
      ],
      title: 'My App',
    }
  },
  head() {
    return { title: this.title }
  },
  methods: {
    async logout() {
      this.overlay = true
      try {
        await this.$fireAuth.signOut()
        this.overlay = false
        this.$store.dispatch('setLogin', false)
        this.$router.push('/')
      } catch (e) {
        alert(e)
      }
    },
  },
}
</script>