<template>
  <v-container>
    <v-row align="start" justify="center">
      <v-col cols="12">
        <h1>Add product</h1>
      </v-col>
    </v-row>

    <v-row align="start" justify="center">
      <v-col cols="6">
        <v-alert
          :value="alert"
          :color="error.color"
          dark
          border="left"
          icon="mdi-account"
          dismissible
          transition="scale-transition"
        >{{error.text}}</v-alert>
        <v-form ref="form" v-model="valid" :lazy-validation="lazy">
          <v-text-field type="text" v-model="form.name" label=" Name" required></v-text-field>

          <v-text-field type="text" v-model="form.description" label="Description" required></v-text-field>

          <v-text-field type="text" v-model="form.idproduct" label="ID product" required></v-text-field>

          <v-text-field type="text" v-model="form.price1" label="Price 1y" required></v-text-field>

          <v-text-field type="text" v-model="form.price2" label="Price 2y" required></v-text-field>

          <v-text-field type="text" v-model="form.price3" label="Price 3y" required></v-text-field>

          <v-btn :disabled="!valid" color="success" class="mr-4" @click="addnew">Add New</v-btn>
        </v-form>
      </v-col>
    </v-row>

    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>
<script>
export default {
  layout: 'my',
  data() {
    return {
      overlay: false,
      error: {
        text: '',
        color: 'green',
      },
      alert: false,
      valid: true,
      lazy: false,
      form: {
        name: '',
        description: '',
        idproduct: '',
        price1: '',
        price2: '',
        price3: '',
      },
    }
  },
  methods: {
    async addnew() {
      this.overlay = true
      this.alert = false
      try {
        const db = this.$fireDb.ref('product')
        let data = await db.push()
        let id = data.key
        await db.child(id).set({ ...this.form, id: id })
        this.$store.dispatch('pushAneproduct', { ...this.form, id: id })
        this.alert = true
        this.error = {
          color: 'green',
          text: 'เพิ่ม  สำเร็จแล้ว',
        }
        this.form = {
          name: '',
          description: '',
          idproduct: '',
          price1: '',
          price2: '',
          price3: '',
        }
        this.overlay = false
      } catch (e) {
        this.alert = true
        this.error = {
          color: 'red',
          text: e,
        }
        this.overlay = false
      }
    },
  },
}
</script>