<template>
  <v-container>
    <v-row align="start" justify="center">
      <v-col cols="6">
        <h1>List product</h1>
      </v-col>
      <v-col cols="6" align-self="center" class="text-right">
        <v-btn to="/my/product/upload" nuxt color="success" class="mr-4">Upload XLSX</v-btn>
        <v-btn to="/my/product/add" nuxt color="success" class="mr-4">Add</v-btn>
      </v-col>
    </v-row>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-btn @click="showDialogSelect" color="red" v-if="select.length > 0">ลบที่เลือก</v-btn>
    <v-btn @click="showDialogAll" color="red">ลบทั้งหมด</v-btn>

    <v-data-table
      v-model="select"
      :headers="headers"
      :items="loadHost"
      :items-per-page="10"
      :search="search"
      class="elevation-1"
      show-select
    >
      <template v-slot:item.phone="data">{{data.value|phone}}</template>
      <template v-slot:item.price="data">{{data.value|numberPrice}}</template>
      <template v-slot:item.type="data">{{(data.value == '1') ? 'รายเดือน':'เติมเงิน'}}</template>
      <template v-slot:item.level="data">{{(data.value == '1') ? 'เบอร์ติดสัญญา':'เบอร์ปกติ'}}</template>
      <template v-slot:item.status="data">{{(data.value == '1') ? 'ว่าง':'เบอร์ติดจอง'}}</template>
      <template v-slot:item.id="data">
        <v-btn :to="`/my/product/edit/${data.value}`" nuxt color="info" class="mr-4">
          <v-icon x-small>mdi-pencil</v-icon>
          <span>แก้ไข</span>
        </v-btn>

        <v-btn @click="showDialog(data.item)" color="error" class="mr-4">
          <v-icon x-small>mdi-delete</v-icon>
          <span>ลบ</span>
        </v-btn>
      </template>
    </v-data-table>

    <v-dialog v-model="dialog.show" width="500">
      <v-card>
        <v-card-title class="headline lighten-2">ยืนยันลบข้อมูล</v-card-title>

        <v-card-text>ยืนยันลบ แพ็กเก็ต {{dialog.data.name}} หรือไม่</v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="remove" text>ยืนยันลบ</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogSelect.show" width="500">
      <v-card>
        <v-card-title class="headline lighten-2">ยืนยันลบข้อมูลที่เลือก ({{select.length}}) รายการ</v-card-title>

        <v-card-text>ยืนยันลบ ({{select.length}}) รายการ หรือไม่</v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="removeSelect" text>ยืนยันลบ</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogAll.show" width="500">
      <v-card>
        <v-card-title class="headline lighten-2">ยืนยันลบข้อมูลทั้งหมด ({{loadHost.length}}) รายการ</v-card-title>

        <v-card-text>ยืนยันลบ ทั้งหมด ({{loadHost.length}}) รายการ หรือไม่</v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="removeAll" text>ยืนยันลบ</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
export default {
  layout: 'my',
  computed: {
    loadHost() {
      return this.$store.getters.allstate.product
    },
  },
  methods: {
    test() {
      console.log(this.select)
    },
    showDialog(data) {
      this.dialog = {
        data: data,
        show: true,
      }
    },
    showDialogSelect() {
      this.dialogSelect = {
        show: true,
      }
    },
    showDialogAll() {
      this.dialogAll = {
        show: true,
      }
    },
    async removeAll() {
      const db = this.$fireDb.ref('product')
      await db.remove()
      this.$store.dispatch('removeproductall')
      setTimeout(() => {
        this.dialogAll = {
          show: false,
        }
      }, 1000)
    },
    async removeSelect() {
      const db = this.$fireDb.ref('product')
      await this.select.forEach(async (element, i) => {
        let id = element.phone
        await db.child(id).remove()
        this.$store.dispatch('removeproduct', id)
      })
      setTimeout(() => {
        this.dialogSelect = {
          show: false,
        }
        this.select = []
      }, 1000)
    },
    async remove() {
      const db = this.$fireDb.ref('product/' + this.dialog.data.id)
      await db.remove()
      this.$store.dispatch('removeproduct', this.dialog.data.id)
      this.dialog = {
        data: false,
        show: false,
      }
    },
  },
  data() {
    return {
      select: [],
      dialogSelect: {
        show: false,
      },
      dialogAll: {
        show: false,
      },
      dialog: {
        show: false,
        data: '',
      },
      search: '',
      headers: [
        { text: 'เลขหมาย', value: 'phone' },
        { text: 'ราคา', value: 'price' },
        { text: 'เครือข่าย', value: 'provider' },
        { text: 'ประเภท', value: 'type' },
        { text: 'ระดับเลขหมาย', value: 'level' },
        { text: 'สถานะ', value: 'status' },
        { text: 'Actions', value: 'id', sortable: false },
      ],
    }
  },
}
</script>