<template>
  <div>
    <v-row align="start" justify="center">
      <v-col cols="12">
        <h1>เข้าสู่ระบบ ใช้บริการ</h1>
      </v-col>
    </v-row>
    <client-only placeholder="Loading...">
      <v-row align="start" justify="center" v-if="!$store.getters.isLogin">
        <v-col cols="12">
          <v-alert
            :value="form.alert"
            :color="error.color"
            dark
            border="left"
            icon="mdi-account"
            dismissible
            transition="scale-transition"
          >{{error.text}}</v-alert>
          <v-form ref="form" v-model="form.valid" :lazy-validation="form.lazy">
            <v-text-field
              solo
              type="email"
              autocomplete="email"
              v-model="form.email"
              :rules="form.emailRules"
              label="อีเมล"
              required
            ></v-text-field>

            <v-text-field
              solo
              type="password"
              autocomplete="current-password"
              v-model="form.password"
              :rules="form.passwordRules"
              label="รหัสผ่าน"
              required
            ></v-text-field>

            <v-btn
              :disabled="!form.valid"
              color="success"
              class="mr-4"
              @click="signInUser"
            >เข้าสู่ระบบ</v-btn>

            <v-btn
              :disabled="!form.email"
              color="info"
              class="mr-4"
              @click="resetPassword"
            >ลืมรหัสผ่าน</v-btn>
          </v-form>
        </v-col>
      </v-row>

      <v-row align="center" justify="center" v-else>
        <v-col cols="12">
          <v-row align="start" justify="space-around">
            <v-btn dark to="/my/settings" nuxt>
              <v-icon left>mdi-account-circle</v-icon>
              <span>บัญชีของฉัน</span>
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </client-only>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
export default {
  data() {
    return {
      overlay: false,
      error: {
        text: '',
        color: 'green',
      },
      form: {
        alert: false,
        valid: true,
        email: '',
        emailRules: [
          (v) => !!v || 'กรุณาระบุ อีเมล ของคุณ',
          (v) => /.+@.+\..+/.test(v) || 'อีเมลไม่ถูกต้อง',
        ],
        password: '',
        passwordRules: [
          (v) => !!v || 'กรุณาระบุ รหัสผ่าน',
          (v) => (v && v.length >= 8) || 'รหัสผ่าน ต้องมีอย่างน้อย 8 ตัวอักษร',
        ],
        lazy: false,
      },
    }
  },
  methods: {
    async resetPassword() {
      this.overlay = true
      try {
        await this.$fireAuth.sendPasswordResetEmail(this.form.email)
        this.form.alert = true
        this.error = {
          color: 'green',
          text: `กรุณาตรวจสอบอีเมลของท่าน (${this.form.email}) เราได้ส่งลิ้งค์สำหรับรีเช็ดรหัสใหม่ไปให้แล้ว`,
        }
        this.overlay = false
      } catch (e) {
        this.form.alert = true
        this.error = {
          color: 'red',
          text: e,
        }
        this.overlay = false
      }
    },
    async signInUser() {
      this.overlay = true
      if (this.$refs.form.validate()) {
        try {
          await this.$fireAuth.signInWithEmailAndPassword(
            this.form.email,
            this.form.password
          )
          this.$store.dispatch('setLogin', true)
          this.$router.push('/my')
        } catch (e) {
          this.$store.dispatch('setLogin', false)
          this.form.alert = true
          this.error = {
            color: 'red',
            text: e,
          }
          this.overlay = false
          setTimeout(() => {
            this.form.alert = false
          }, 3000)
        }
      } else {
        this.overlay = false
      }
    },
  },
}
</script>