<template>
  <div>
    <v-row align="start" justify="center">
      <v-col cols="12">
        <h1>สมัครสมาชิก ใช้บริการ</h1>
      </v-col>
    </v-row>
    <client-only placeholder="Loading...">
      <v-row align="start" justify="center" v-if="!$store.getters.isLogin">
        <v-col cols="12">
          <v-alert
            :value="form.alert"
            :color="error.color"
            dark
            border="left"
            icon="mdi-account"
            dismissible
            transition="scale-transition"
          >{{error.text}}</v-alert>
          <v-form ref="form" v-model="form.valid" :lazy-validation="form.lazy">
            <v-text-field
              solo
              type="email"
              autocomplete="email"
              v-model="form.email"
              :rules="form.emailRules"
              label="อีเมล"
              required
            ></v-text-field>

            <v-text-field
              solo
              type="password"
              autocomplete="current-password"
              v-model="form.password"
              :rules="form.passwordRules"
              label="รหัสผ่าน"
              required
            ></v-text-field>

            <v-text-field
              solo
              type="password"
              autocomplete="current-password"
              v-model="form.password2"
              :rules="form.password2Rules"
              label="ยืนยันรหัสผ่าน"
              required
            ></v-text-field>

            <v-checkbox
              v-model="form.checkbox"
              :rules="[v => !!v || 'ต้องยอมรับเงื่อนไข่อนดำเนินการต่อ']"
              label="คุณยอมรับเงื่อนไขการใช้งานหรือไม่?"
              required
            ></v-checkbox>

            <v-btn
              :disabled="!form.valid"
              color="success"
              class="mr-4"
              @click="createUser"
            >สร้างบัญชี</v-btn>
          </v-form>
        </v-col>
      </v-row>

      <v-row align="center" justify="center" v-else>
        <v-col cols="12">
          <v-row align="start" justify="space-around">
            <v-btn dark to="/my/settings" nuxt>
              <v-icon left>mdi-account-circle</v-icon>
              <span>บัญชีของฉัน</span>
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </client-only>

    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
export default {
  data() {
    return {
      overlay: false,
      error: {
        text: '',
        color: 'green',
      },
      form: {
        alert: false,
        valid: true,
        email: '',
        emailRules: [
          (v) => !!v || 'กรุณาระบุ อีเมล ของคุณ',
          (v) => /.+@.+\..+/.test(v) || 'อีเมลไม่ถูกต้อง',
        ],
        password: '',
        passwordRules: [
          (v) => !!v || 'กรุณาระบุ รหัสผ่าน',
          (v) => (v && v.length >= 8) || 'รหัสผ่าน ต้องมีอย่างน้อย 8 ตัวอักษร',
        ],
        password2: '',
        password2Rules: [
          (v) => !!v || 'กรุณายืนยันรหัสผ่าน',
          (v) =>
            (v && v.length >= 8) || 'ยืนยันรหัสผ่าน ต้องมีอย่างน้อย 8 ตัวอักษร',
          (v) => v == this.form.password || 'รหัสผ่าน ไม่ตรงกัน',
        ],
        checkbox: false,
        lazy: false,
      },
    }
  },
  methods: {
    async createUser() {
      this.overlay = true
      if (this.$refs.form.validate()) {
        try {
          var e = await this.$fireAuth.createUserWithEmailAndPassword(
            this.form.email,
            this.form.password
          )
          try {
            const user = this.$fireDb.ref('user/' + e.user.uid)
            await user.set({
              email: this.form.email,
              profile_picture: false,
            })
            this.$store.dispatch('setLogin', true)
             this.overlay = false
            this.$router.push('/my')
          } catch (e) {
            this.form.alert = true
            this.error = {
              color: 'red',
              text: e,
            }
            this.overlay = false
          }
        } catch (e) {
          this.$store.dispatch('setLogin', false)
          this.form.alert = true
          this.error = {
            color: 'red',
            text: e,
          }
          this.overlay = false
          setTimeout(() => {
            this.form.alert = false
          }, 3000)
        }
      } else {
        this.overlay = false
      }
    },
  },
}
</script>