<template>
  <v-container>
    <v-row align="start" justify="center">
      <v-col cols="12">
        <h1>Edit Article {{form.name}}</h1>
      </v-col>
    </v-row>

    <v-row align="start" justify="center">
      <v-col cols="6">
        <v-alert
          :value="alert"
          :color="error.color"
          dark
          border="left"
          icon="mdi-account"
          dismissible
          transition="scale-transition"
        >{{error.text}}</v-alert>
        <v-form ref="form" v-model="valid" :lazy-validation="lazy">
          <div v-if="form.file" class="d-flex justify-center mb-6">
            <div>
              <v-img :src="form.file|image('tr=h-300,w-300')" max-height="300" max-width="300"></v-img>
              <v-btn block color="error" class="mr-4" @click="removeimage">Remove Image</v-btn>
            </div>
          </div>
          <div v-else>
            <v-file-input
              v-model="file"
              dark
              small-chips
              show-size
              prepend-inner-icon="mdi-image"
              prepend-icon
              label="Image Cover"
            ></v-file-input>
            <v-progress-linear v-show="upload" :value="uploadprogress" height="25">
              <template v-slot="{ value }">
                <strong>{{ value.toFixed(3) }}%</strong>
              </template>
            </v-progress-linear>
          </div>
          <v-text-field type="text" v-model="form.name" label="Name" required></v-text-field>

          <p>Description</p>
          <client-only>
            <quill-editor ref="editor" v-model="form.description" />
          </client-only>

          <v-btn :disabled="!valid" color="success" class="mr-4" @click="uploadFile">Edit</v-btn>
        </v-form>
      </v-col>
    </v-row>

    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>
<script>
export default {
  layout: 'my',
  data() {
    return {
      domain: window.location.host,
      id: null,
      file: undefined,
      overlay: false,
      error: {
        text: '',
        color: 'green',
      },
      upload: false,
      uploadprogress: 0,
      alert: false,
      valid: true,
      lazy: false,
      form: {
        file: '',
        name: '',
        slug: '',
        description: '',
      },
    }
  },
  mounted() {
    this.id = this.$route.params.id
    let data = this.$store.getters.allstate.article
    let indexid = data.findIndex((find) => find.id === this.id)
    this.form = { ...data[indexid] }
  },
  methods: {
    removeimage() {
      this.$fireStorage
        .ref()
        .child(
          `article/${
            this.form.file.split('%2F').pop().split('/').pop().split('?')[0]
          }`
        )
        .delete()
        .then(() => {
          this.form.file = ''
        })
        .catch(() => {
          this.form.file = ''
        })
    },
    async uploadFile() {
      if (this.file) {
        this.overlay = true
        this.upload = true
        let file = this.file
        var metadata = {
          contentType: file.type,
        }
        var uploadTask = this.$fireStorage
          .ref()
          .child(`article/${file.name}`)
          .put(file, metadata)

        uploadTask.on(
          'state_changed',
          (snapshot) => {
            var progress =
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100
            this.uploadprogress = progress
          },
          (error) => {
            this.error = {
              color: 'red',
              text: 'อัพโหลดไฟล์ไม่สำเร็จ',
            }
            console.log(error)
          },
          () => {
            uploadTask.snapshot.ref
              .getDownloadURL()
              .then((downloadURL) => {
                this.upload = false
                this.form.file = downloadURL
              })
              .then(() => {
                this.edit()
              })
          }
        )
      } else {
        this.edit()
      }
    },
    async edit() {
      this.overlay = true
      this.alert = false
      try {
        const db = this.$fireDb.ref('article/' + this.id)
        await db.set({ ...this.form })
        this.$store.dispatch('editarticle', { ...this.form })
        this.alert = true
        this.error = {
          color: 'green',
          text: 'แก้ไข  สำเร็จแล้ว',
        }
        this.overlay = false
      } catch (e) {
        this.alert = true
        this.error = {
          color: 'red',
          text: e,
        }
        this.overlay = false
      }
    },
  },
}
</script>