<template>
  <v-container>
    <v-row align="start" justify="center">
      <v-col cols="12">
        <h1>Add banner</h1>
      </v-col>
    </v-row>

    <v-row align="start" justify="center">
      <v-col cols="6">
        <v-alert
          :value="alert"
          :color="error.color"
          dark
          border="left"
          icon="mdi-account"
          dismissible
          transition="scale-transition"
        >{{error.text}}</v-alert>

        <small>{{domain}}/banner/{{form.name|slug}}</small>
        <v-form ref="form" v-model="valid" :lazy-validation="lazy">
          <v-file-input
            v-model="file"
            dark
            small-chips
            show-size
            prepend-inner-icon="mdi-image"
            prepend-icon
            label="Image Cover"
          ></v-file-input>
          <v-progress-linear v-show="upload" :value="uploadprogress" height="25">
            <template v-slot="{ value }">
              <strong>{{ value.toFixed(3) }}%</strong>
            </template>
          </v-progress-linear>

          <v-text-field type="text" v-model="form.name" label="Name" required></v-text-field>

          <p>Description</p>
          <client-only>
            <quill-editor ref="editor" v-model="form.description" />
          </client-only>
          <v-btn :disabled="!valid" color="success" class="mr-4" @click="uploadFile">Add New</v-btn>
        </v-form>
      </v-col>
    </v-row>

    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>
<script>
export default {
  layout: 'my',
  data() {
    return {
      domain: window.location.host,
      overlay: false,
      file: undefined,
      error: {
        text: '',
        color: 'green',
      },
      upload: false,
      uploadprogress: 0,
      alert: false,
      valid: true,
      lazy: false,
      form: {
        file: '',
        name: '',
        slug: '',
        description: '',
      },
    }
  },
  methods: {
    async uploadFile() {
      this.form.slug = this.$slug(this.form.name)
      this.overlay = true
      this.upload = true
      let file = this.file
      var metadata = {
        contentType: file.type,
      }
      var uploadTask = this.$fireStorage
        .ref()
        .child(`banner/${file.name}`)
        .put(file, metadata)

      uploadTask.on(
        'state_changed',
        (snapshot) => {
          var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
          this.uploadprogress = progress
        },
        (error) => {
          this.error = {
            color: 'red',
            text: 'อัพโหลดไฟล์ไม่สำเร็จ',
          }
          console.log(error)
        },
        () => {
          uploadTask.snapshot.ref
            .getDownloadURL()
            .then((downloadURL) => {
              this.upload = false
              this.form.file = downloadURL
            })
            .then(() => {
              this.addnew()
            })
        }
      )
    },
    async addnew() {
      this.overlay = true
      this.alert = false
      try {
        const db = this.$fireDb.ref(`banner/${this.form.slug}`)
        await db.set({ ...this.form, id: this.form.slug })
        this.$store.dispatch('pushAnebanner', {
          ...this.form,
          id: this.form.slug,
        })
        this.alert = true
        this.error = {
          color: 'green',
          text: 'เพิ่ม  สำเร็จแล้ว',
        }
        this.form = {
          file: '',
          name: '',
          slug: '',
          description: '',
        }
        this.upload = false
        this.uploadprogress = 0
        this.file = undefined
        this.overlay = false
      } catch (e) {
        this.alert = true
        this.error = {
          color: 'red',
          text: e,
        }
        this.overlay = false
      }
    },
  },
}
</script>

<style>
.ql-toolbar.ql-snow {
  background-color: aliceblue;
}
.quill-editor {
  min-height: 400px;
  overflow-y: auto;
}
.ql-editor {
  min-height: 400px;
}
</style>